*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Databases
Comtrade/DataStorage
ipython_log.py
Eurostat/trade_wedge/chained_demand.csv
Eurostat/trade_wedge/chained_demand_labels.csv
Eurostat/trade_wedge/chained_gdp.csv
Eurostat/trade_wedge/chained_gpd_labels.csv
Eurostat/trade_wedge/chained_imports.csv
Eurostat/trade_wedge/chained_imports_labels.csv
Eurostat/trade_wedge/nominal_demand.csv
Eurostat/trade_wedge/nominal_demand_labels.csv
Eurostat/trade_wedge/nominal_gdp.csv
Eurostat/trade_wedge/nominal_gdp_labels.csv
Eurostat/trade_wedge/nominal_imports.csv
Eurostat/trade_wedge/nominal_imports_labels.csv
comtrade_trade_data.sdmx
Comext/Comext.sublime-project
Comext/Comext.sublime-workspace
partner.py
gmm_store.h5
Eurostat/ind_prod/CN-PD.pkl
Eurostat/ind_prod/cn11-prodcom11.pkl
Eurostat/ind_prod/cn12-cn11.pkl
Eurostat/ind_prod/ind_prod_store
Eurostat/ind_prod/sample_ind_import
Eurostat/supply_use/metadata.pdf
Eurostat/use_supply.pdf
use_supply.pdf
SCL_nace_r2_new.xls
exports.csv
Eurostat/national-accounts/namq_gdp_c-1/gdp.csv
Eurostat/national-accounts/namq_gdp_c-1/imports.csv
Eurostat/national-accounts/namq_gdp_c-1/na_accts_clean.csv
Eurostat/national-accounts/namq_gdp_c-1/namq_gdp_c_Label.csv
trade_wedge_clean.csv
Eurostat/supply_use/table_names.png
Eurostat/supply_use/tables/clean_naio_cp15_r2.csv
Eurostat/supply_use/tables/clean_naio_cp16_r2.csv
Eurostat/supply_use/tables/clean_naio_cp17_r2.csv
Eurostat/supply_use/tables/clean_naio_cp17i_r2.csv
Eurostat/supply_use/tables/naio_cp15_r2.tsv
Eurostat/supply_use/tables/naio_cp16_r2.tsv
Eurostat/supply_use/tables/naio_cp17_r2.tsv
Eurostat/supply_use/tables/naio_cp17i_r2.tsv
Eurostat/supply_use/tables/naio_esms.sdmx/ESMS_MSD.msd.xml
Eurostat/supply_use/tables/naio_esms.sdmx/naio_esms.sdmx.xml
Eurostat/supply_use/tables/supply_use_2008.csv
Eurostat/supply_use/docs/Introduction.pdf
Eurostat/supply_use/docs/Supply and use tables - input-output analysis - Statistics Explained.pdf
Eurostat/supply_use/docs/clean_use_row_labels.pkl
Eurostat/supply_use/docs/metadata.pdf
Eurostat/supply_use/docs/table_names.png
Eurostat/supply_use/docs/use_col_cleaned.pkl
Eurostat/supply_use/docs/use_col_lables.txt
Eurostat/supply_use/docs/use_row_labels.txt
correspondences
Eurostat/supply_use/docs/clean_use_col_labels.pkl
Eurostat/supply_use/docs/use_col_labels.txt
Eurostat/supply_use/docs/use_row_labels
