*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Databases
Comtrade/DataStorage
ipython_log.py
Eurostat/trade_wedge/chained_demand.csv
Eurostat/trade_wedge/chained_demand_labels.csv
Eurostat/trade_wedge/chained_gdp.csv
Eurostat/trade_wedge/chained_gpd_labels.csv
Eurostat/trade_wedge/chained_imports.csv
Eurostat/trade_wedge/chained_imports_labels.csv
Eurostat/trade_wedge/nominal_demand.csv
Eurostat/trade_wedge/nominal_demand_labels.csv
Eurostat/trade_wedge/nominal_gdp.csv
Eurostat/trade_wedge/nominal_gdp_labels.csv
Eurostat/trade_wedge/nominal_imports.csv
Eurostat/trade_wedge/nominal_imports_labels.csv
comtrade_trade_data.sdmx
Comext/Comext.sublime-project
Comext/Comext.sublime-workspace
partner.py
gmm_store.h5
Eurostat/ind_prod/CN-PD.pkl
Eurostat/ind_prod/cn11-prodcom11.pkl
Eurostat/ind_prod/cn12-cn11.pkl
Eurostat/ind_prod/ind_prod_store
Eurostat/ind_prod/sample_ind_import
Eurostat/supply_use/metadata.pdf
Eurostat/use_supply.pdf
use_supply.pdf
SCL_nace_r2_new.xls
exports.csv
Eurostat/national-accounts/namq_gdp_c-1/gdp.csv
Eurostat/national-accounts/namq_gdp_c-1/imports.csv
Eurostat/national-accounts/namq_gdp_c-1/na_accts_clean.csv
Eurostat/national-accounts/namq_gdp_c-1/namq_gdp_c_Label.csv
trade_wedge_clean.csv
Eurostat/supply_use/table_names.png
Eurostat/supply_use/tables/clean_naio_cp15_r2.csv
Eurostat/supply_use/tables/clean_naio_cp16_r2.csv
Eurostat/supply_use/tables/clean_naio_cp17_r2.csv
Eurostat/supply_use/tables/clean_naio_cp17i_r2.csv
Eurostat/supply_use/tables/naio_cp15_r2.tsv
Eurostat/supply_use/tables/naio_cp16_r2.tsv
Eurostat/supply_use/tables/naio_cp17_r2.tsv
Eurostat/supply_use/tables/naio_cp17i_r2.tsv
Eurostat/supply_use/tables/naio_esms.sdmx/ESMS_MSD.msd.xml
Eurostat/supply_use/tables/naio_esms.sdmx/naio_esms.sdmx.xml
Eurostat/supply_use/tables/supply_use_2008.csv
Eurostat/supply_use/docs/Introduction.pdf
Eurostat/supply_use/docs/Supply and use tables - input-output analysis - Statistics Explained.pdf
Eurostat/supply_use/docs/clean_use_row_labels.pkl
Eurostat/supply_use/docs/metadata.pdf
Eurostat/supply_use/docs/table_names.png
Eurostat/supply_use/docs/use_col_cleaned.pkl
Eurostat/supply_use/docs/use_col_lables.txt
Eurostat/supply_use/docs/use_row_labels.txt
Eurostat/supply_use/docs/clean_use_col_labels.pkl
Eurostat/supply_use/docs/use_col_labels.txt
Eurostat/supply_use/docs/use_row_labels
Eurostat/ind_prod/Short-term business statistics (STS) in brief.pdf
Eurostat/ind_prod/meta.pdf
Eurostat/ind_prod/Short-term business statistics (STS) in brief.pdf
nace_durable_consumer.txt
*.pkl
*.pdf
*.xls
Eurostat/correspondences/cn11-cn12/Transposition_Corrections.txt
Eurostat/correspondences/cpa08.dic.txt
Eurostat/correspondences/nace_capital_goods.txt
Eurostat/correspondences/nace_energy.txt
Eurostat/correspondences/nace_intermediate.txt
Eurostat/correspondences/nace_nondurable_consumer.txt
Eurostat/correspondences/nace_r2_dic.txt
Eurostat/correspondences/overview.DOC
Eurostat/correspondences/t_cols2.txt
Eurostat/correspondences/t_rows2.txt
Eurostat/correspondences/use_col_labels.txt
Eurostat/correspondences/use_row_labels.txt
Eurostat/correspondences/excel_correspondences/Transposition_Corrections.txt
Eurostat/correspondences/excel_correspondences/new_cn12_to_pc11
table.gif
Comext store
Comext/clean_naio_cp15_r2.csv
Comext/clean_naio_cp16_r2.csv
Comext/clean_naio_cp17_r2.csv
Comext/clean_naio_cp17i_r2.csv
Comext/nace_r2.dic.txt
Comext/use_col_labels.txt
Comext/use_row_labels
Comext/use_row_labels.txt
correspondences/docs/overview.DOC
correspondences/excel_correspondences/Transposition_Corrections.txt
correspondences/final/new_cn12_to_pc11
correspondences/nace_list.txt
correspondences/non-pickles/cpa08.dic.txt
correspondences/non-pickles/nace_capital_goods.txt
correspondences/non-pickles/nace_energy.txt
correspondences/non-pickles/nace_intermediate.txt
correspondences/non-pickles/nace_nondurable_consumer.txt
correspondences/non-pickles/nace_r2_dic.txt
correspondences/non-pickles/t_cols2.txt
correspondences/non-pickles/t_rows2.txt
correspondences/non-pickles/use_col_labels.txt
correspondences/non-pickles/use_row_labels.txt
services
*.sublime-project
euro_recession_trade.sublime-workspace
paper/euro_recession_trade.aux
paper/euro_recession_trade.bbl
paper/euro_recession_trade.blg
paper/euro_recession_trade.fdb_latexmk
paper/euro_recession_trade.fls
paper/figures/trade_wedge_1and5.png
